.bg-transparent { background-color: var(--transparent); }
.bg-black-0125 { background-color: var(--black-0125); }
.bg-black-025 { background-color: var(--black-025); }
.bg-black-05 { background-color: var(--black-05); }
.bg-black-10 { background-color: var(--black-10); }
.bg-black-20 { background-color: var(--black-20); }
.bg-black-30 { background-color: var(--black-30); }
.bg-black-40 { background-color: var(--black-40); }
.bg-black-50 { background-color: var(--black-50); }
.bg-black-60 { background-color: var(--black-60); }
.bg-black-70 { background-color: var(--black-70); }
.bg-black-80 { background-color: var(--black-80); }
.bg-black-90 { background-color: var(--black-90); }
.bg-near-black { background-color: var(--near-black); }
.bg-black { background-color: var(--black); }
.bg-light-blue { background-color: var(--light-blue); }
.bg-dark-blue { background-color: var(--dark-blue); }
.bg-blue { background-color: var(--blue); }
.bg-dark-deep-blue { background-color: var(--dark-deep-blue); }
.bg-indigo { background-color: var(--indigo); }
.bg-dark-indigo { background-color: var(--dark-indigo); }
.bg-light-indigo { background-color: var(--light-indigo); }
.bg-light-green { background-color: var(--light-green); }
.bg-dark-green { background-color: var(--dark-green); }
.bg-green { background-color: var(--green); }
.bg-dark-purple { background-color: var(--dark-purple); }
.bg-purple { background-color: var(--purple); }
.bg-light-purple { background-color: var(--light-purple); }
.bg-yellow { background-color: var(--yellow); }
.bg-dark-yellow { background-color: var(--dark-yellow); }
.bg-light-yellow { background-color: var(--light-yellow); }
.bg-orange { background-color: var(--orange); }
.bg-dark-orange { background-color: var(--dark-orange); }
.bg-light-orange { background-color: var(--light-orange); }
.bg-light-gray { background-color: var(--light-gray); }
.bg-light-silver { background-color: var(--light-silver); }
.bg-silver { background-color: var(--silver); }
.bg-mid-gray { background-color: var(--mid-gray); }
.bg-moon-gray { background-color: var(--moon-gray); }
.bg-dark-gray { background-color: var(--dark-gray); }
.bg-washed-gray { background-color: var(--washed-gray); }
.bg-dark-red { background-color: var(--dark-red); }
.bg-red { background-color: var(--red); }
.bg-light-red { background-color: var(--light-red); }
.bg-light-pink { background-color: var(--light-pink); }
.bg-pink { background-color: var(--pink); }
.bg-dark-pink { background-color: var(--dark-pink); }
.bg-brown { background-color: var(--brown); }
.bg-near-white { background-color: var(--near-white); }
.bg-white-0125 { background-color: var(--white-0125); }
.bg-white-025 { background-color: var(--white-025); }
.bg-white-05 { background-color: var(--white-05); }
.bg-white-10 { background-color: var(--white-10); }
.bg-white-20 { background-color: var(--white-20); }
.bg-white-30 { background-color: var(--white-30); }
.bg-white-40 { background-color: var(--white-40); }
.bg-white-50 { background-color: var(--white-50); }
.bg-white-60 { background-color: var(--white-60); }
.bg-white-70 { background-color: var(--white-70); }
.bg-white-80 { background-color: var(--white-80); }
.bg-white-90 { background-color: var(--white-90); }
.bg-white { background-color: var(--white); }
.bg-hover-transparent:hover { background-color: var(--transparent); }
.bg-hover-black-0125:hover { background-color: var(--black-0125); }
.bg-hover-black-025:hover { background-color: var(--black-025); }
.bg-hover-black-05:hover { background-color: var(--black-05); }
.bg-hover-black-10:hover { background-color: var(--black-10); }
.bg-hover-black-20:hover { background-color: var(--black-20); }
.bg-hover-black-30:hover { background-color: var(--black-30); }
.bg-hover-black-40:hover { background-color: var(--black-40); }
.bg-hover-black-50:hover { background-color: var(--black-50); }
.bg-hover-black-60:hover { background-color: var(--black-60); }
.bg-hover-black-70:hover { background-color: var(--black-70); }
.bg-hover-black-80:hover { background-color: var(--black-80); }
.bg-hover-black-90:hover { background-color: var(--black-90); }
.bg-hover-near-black:hover { background-color: var(--near-black); }
.bg-hover-black:hover { background-color: var(--black); }
.bg-hover-light-blue:hover { background-color: var(--light-blue); }
.bg-hover-dark-blue:hover { background-color: var(--dark-blue); }
.bg-hover-blue:hover { background-color: var(--blue); }
.bg-hover-dark-deep-blue:hover { background-color: var(--dark-deep-blue); }
.bg-hover-indigo:hover { background-color: var(--indigo); }
.bg-hover-dark-indigo:hover { background-color: var(--dark-indigo); }
.bg-hover-light-indigo:hover { background-color: var(--light-indigo); }
.bg-hover-light-green:hover { background-color: var(--light-green); }
.bg-hover-dark-green:hover { background-color: var(--dark-green); }
.bg-hover-green:hover { background-color: var(--green); }
.bg-hover-dark-purple:hover { background-color: var(--dark-purple); }
.bg-hover-purple:hover { background-color: var(--purple); }
.bg-hover-light-purple:hover { background-color: var(--light-purple); }
.bg-hover-yellow:hover { background-color: var(--yellow); }
.bg-hover-dark-yellow:hover { background-color: var(--dark-yellow); }
.bg-hover-light-yellow:hover { background-color: var(--light-yellow); }
.bg-hover-orange:hover { background-color: var(--orange); }
.bg-hover-dark-orange:hover { background-color: var(--dark-orange); }
.bg-hover-light-orange:hover { background-color: var(--light-orange); }
.bg-hover-light-gray:hover { background-color: var(--light-gray); }
.bg-hover-light-silver:hover { background-color: var(--light-silver); }
.bg-hover-silver:hover { background-color: var(--silver); }
.bg-hover-mid-gray:hover { background-color: var(--mid-gray); }
.bg-hover-moon-gray:hover { background-color: var(--moon-gray); }
.bg-hover-dark-gray:hover { background-color: var(--dark-gray); }
.bg-hover-washed-gray:hover { background-color: var(--washed-gray); }
.bg-hover-dark-red:hover { background-color: var(--dark-red); }
.bg-hover-red:hover { background-color: var(--red); }
.bg-hover-light-red:hover { background-color: var(--light-red); }
.bg-hover-light-pink:hover { background-color: var(--light-pink); }
.bg-hover-pink:hover { background-color: var(--pink); }
.bg-hover-dark-pink:hover { background-color: var(--dark-pink); }
.bg-hover-brown:hover { background-color: var(--brown); }
.bg-hover-near-white:hover { background-color: var(--near-white); }
.bg-hover-white-0125:hover { background-color: var(--white-0125); }
.bg-hover-white-025:hover { background-color: var(--white-025); }
.bg-hover-white-05:hover { background-color: var(--white-05); }
.bg-hover-white-10:hover { background-color: var(--white-10); }
.bg-hover-white-20:hover { background-color: var(--white-20); }
.bg-hover-white-30:hover { background-color: var(--white-30); }
.bg-hover-white-40:hover { background-color: var(--white-40); }
.bg-hover-white-50:hover { background-color: var(--white-50); }
.bg-hover-white-60:hover { background-color: var(--white-60); }
.bg-hover-white-70:hover { background-color: var(--white-70); }
.bg-hover-white-80:hover { background-color: var(--white-80); }
.bg-hover-white-90:hover { background-color: var(--white-90); }
.bg-hover-white:hover { background-color: var(--white); }
.bg-active-transparent:active { background-color: var(--transparent); }
.bg-active-black-0125:active { background-color: var(--black-0125); }
.bg-active-black-025:active { background-color: var(--black-025); }
.bg-active-black-05:active { background-color: var(--black-05); }
.bg-active-black-10:active { background-color: var(--black-10); }
.bg-active-black-20:active { background-color: var(--black-20); }
.bg-active-black-30:active { background-color: var(--black-30); }
.bg-active-black-40:active { background-color: var(--black-40); }
.bg-active-black-50:active { background-color: var(--black-50); }
.bg-active-black-60:active { background-color: var(--black-60); }
.bg-active-black-70:active { background-color: var(--black-70); }
.bg-active-black-80:active { background-color: var(--black-80); }
.bg-active-black-90:active { background-color: var(--black-90); }
.bg-active-near-black:active { background-color: var(--near-black); }
.bg-active-black:active { background-color: var(--black); }
.bg-active-light-blue:active { background-color: var(--light-blue); }
.bg-active-dark-blue:active { background-color: var(--dark-blue); }
.bg-active-blue:active { background-color: var(--blue); }
.bg-active-dark-deep-blue:active { background-color: var(--dark-deep-blue); }
.bg-active-indigo:active { background-color: var(--indigo); }
.bg-active-dark-indigo:active { background-color: var(--dark-indigo); }
.bg-active-light-indigo:active { background-color: var(--light-indigo); }
.bg-active-light-green:active { background-color: var(--light-green); }
.bg-active-dark-green:active { background-color: var(--dark-green); }
.bg-active-green:active { background-color: var(--green); }
.bg-active-dark-purple:active { background-color: var(--dark-purple); }
.bg-active-purple:active { background-color: var(--purple); }
.bg-active-light-purple:active { background-color: var(--light-purple); }
.bg-active-yellow:active { background-color: var(--yellow); }
.bg-active-dark-yellow:active { background-color: var(--dark-yellow); }
.bg-active-light-yellow:active { background-color: var(--light-yellow); }
.bg-active-orange:active { background-color: var(--orange); }
.bg-active-dark-orange:active { background-color: var(--dark-orange); }
.bg-active-light-orange:active { background-color: var(--light-orange); }
.bg-active-light-gray:active { background-color: var(--light-gray); }
.bg-active-light-silver:active { background-color: var(--light-silver); }
.bg-active-silver:active { background-color: var(--silver); }
.bg-active-mid-gray:active { background-color: var(--mid-gray); }
.bg-active-moon-gray:active { background-color: var(--moon-gray); }
.bg-active-dark-gray:active { background-color: var(--dark-gray); }
.bg-active-washed-gray:active { background-color: var(--washed-gray); }
.bg-active-dark-red:active { background-color: var(--dark-red); }
.bg-active-red:active { background-color: var(--red); }
.bg-active-light-red:active { background-color: var(--light-red); }
.bg-active-light-pink:active { background-color: var(--light-pink); }
.bg-active-pink:active { background-color: var(--pink); }
.bg-active-dark-pink:active { background-color: var(--dark-pink); }
.bg-active-brown:active { background-color: var(--brown); }
.bg-active-near-white:active { background-color: var(--near-white); }
.bg-active-white-0125:active { background-color: var(--white-0125); }
.bg-active-white-025:active { background-color: var(--white-025); }
.bg-active-white-05:active { background-color: var(--white-05); }
.bg-active-white-10:active { background-color: var(--white-10); }
.bg-active-white-20:active { background-color: var(--white-20); }
.bg-active-white-30:active { background-color: var(--white-30); }
.bg-active-white-40:active { background-color: var(--white-40); }
.bg-active-white-50:active { background-color: var(--white-50); }
.bg-active-white-60:active { background-color: var(--white-60); }
.bg-active-white-70:active { background-color: var(--white-70); }
.bg-active-white-80:active { background-color: var(--white-80); }
.bg-active-white-90:active { background-color: var(--white-90); }
.bg-active-white:active { background-color: var(--white); }
