.button-bg-amber:active {
    background-color: var(--amber);
}
.button-bg-aqua:active {
    background-color: var(--aqua);
}
.button-bg-black-0125:active {
    background-color: var(--black-0125);
}
.button-bg-black-025:active {
    background-color: var(--black-025);
}
.button-bg-black-05:active {
    background-color: var(--black-05);
}
.button-bg-black-10:active {
    background-color: var(--black-10);
}
.button-bg-black-20:active {
    background-color: var(--black-20);
}
.button-bg-black-30:active {
    background-color: var(--black-30);
}
.button-bg-black-40:active {
    background-color: var(--black-40);
}
.button-bg-black-50:active {
    background-color: var(--black-50);
}
.button-bg-black-60:active {
    background-color: var(--black-60);
}
.button-bg-black-70:active {
    background-color: var(--black-70);
}
.button-bg-black-80:active {
    background-color: var(--black-80);
}
.button-bg-black-90:active {
    background-color: var(--black-90);
}
.button-bg-black:active {
    background-color: var(--black);
}
.button-bg-blue:active {
    background-color: var(--blue);
}
.button-bg-brown:active {
    background-color: var(--brown);
}
.button-bg-dark-blue:active {
    background-color: var(--dark-blue);
}
.button-bg-dark-deep-blue:active {
    background-color: var(--dark-deep-blue);
}
.button-bg-dark-gray:active {
    background-color: var(--dark-gray);
}
.button-bg-dark-green:active {
    background-color: var(--dark-green);
}
.button-bg-dark-orange:active {
    background-color: var(--dark-orange);
}
.button-bg-dark-purple:active {
    background-color: var(--dark-purple);
}
.button-bg-dark-red:active {
    background-color: var(--dark-red);
}
.button-bg-gray:active {
    background-color: var(--gray);
}
.button-bg-green:active {
    background-color: var(--green);
}
.button-bg-indigo:active {
    background-color: var(--indigo);
}
.button-bg-light-blue:active {
    background-color: var(--light-blue);
}
.button-bg-light-gray:active {
    background-color: var(--light-gray);
}
.button-bg-light-lilac:active {
    background-color: var(--light-lilac);
}
.button-bg-light-orange:active {
    background-color: var(--light-orange);
}
.button-bg-light-pink:active {
    background-color: var(--light-pink);
}
.button-bg-light-red:active {
    background-color: var(--light-red);
}
.button-bg-light-silver:active {
    background-color: var(--light-silver);
}
.button-bg-lilac:active {
    background-color: var(--lilac);
}
.button-bg-mid-gray:active {
    background-color: var(--mid-gray);
}
.button-bg-moon-gray:active {
    background-color: var(--moon-gray);
}
.button-bg-near-black:active {
    background-color: var(--near-black);
}
.button-bg-near-white:active {
    background-color: var(--near-white);
}
.button-bg-orange:active {
    background-color: var(--orange);
}
.button-bg-pink:active {
    background-color: var(--pink);
}
.button-bg-purple:active {
    background-color: var(--purple);
}
.button-bg-red:active {
    background-color: var(--red);
}
.button-bg-salmon:active {
    background-color: var(--salmon);
}
.button-bg-silver:active {
    background-color: var(--silver);
}
.button-bg-teal:active {
    background-color: var(--teal);
}
.button-bg-transparent:active {
    background-color: var(--transparent);
}
.button-bg-washed-gray:active {
    background-color: var(--washed-gray);
}
.button-bg-white-0125:active {
    background-color: var(--white-0125);
}
.button-bg-white-025:active {
    background-color: var(--white-025);
}
.button-bg-white-05:active {
    background-color: var(--white-05);
}
.button-bg-white-10:active {
    background-color: var(--white-10);
}
.button-bg-white-20:active {
    background-color: var(--white-20);
}
.button-bg-white-30:active {
    background-color: var(--white-30);
}
.button-bg-white-40:active {
    background-color: var(--white-40);
}
.button-bg-white-50:active {
    background-color: var(--white-50);
}
.button-bg-white-60:active {
    background-color: var(--white-60);
}
.button-bg-white-70:active {
    background-color: var(--white-70);
}
.button-bg-white-80:active {
    background-color: var(--white-80);
}
.button-bg-white-90:active {
    background-color: var(--white-90);
}
.button-bg-white:active {
    background-color: var(--white);
}
.button-bg-yellow:active {
    background-color: var(--yellow);
}

.button-amber:active {
    color: var(--amber);
}
.button-aqua:active {
    color: var(--aqua);
}
.button-black-0125:active {
    color: var(--black-0125);
}
.button-black-025:active {
    color: var(--black-025);
}
.button-black-05:active {
    color: var(--black-05);
}
.button-black-10:active {
    color: var(--black-10);
}
.button-black-20:active {
    color: var(--black-20);
}
.button-black-30:active {
    color: var(--black-30);
}
.button-black-40:active {
    color: var(--black-40);
}
.button-black-50:active {
    color: var(--black-50);
}
.button-black-60:active {
    color: var(--black-60);
}
.button-black-70:active {
    color: var(--black-70);
}
.button-black-80:active {
    color: var(--black-80);
}
.button-black-90:active {
    color: var(--black-90);
}
.button-black:active {
    color: var(--black);
}
.button-blue:active {
    color: var(--blue);
}
.button-brown:active {
    color: var(--brown);
}
.button-dark-blue:active {
    color: var(--dark-blue);
}
.button-dark-deep-blue:active {
    color: var(--dark-deep-blue);
}
.button-dark-gray:active {
    color: var(--dark-gray);
}
.button-dark-green:active {
    color: var(--dark-green);
}
.button-dark-orange:active {
    color: var(--dark-orange);
}
.button-dark-purple:active {
    color: var(--dark-purple);
}
.button-dark-red:active {
    color: var(--dark-red);
}
.button-gray:active {
    color: var(--gray);
}
.button-green:active {
    color: var(--green);
}
.button-indigo:active {
    color: var(--indigo);
}
.button-light-blue:active {
    color: var(--light-blue);
}
.button-light-gray:active {
    color: var(--light-gray);
}
.button-light-lilac:active {
    color: var(--light-lilac);
}
.button-light-orange:active {
    color: var(--light-orange);
}
.button-light-pink:active {
    color: var(--light-pink);
}
.button-light-red:active {
    color: var(--light-red);
}
.button-light-silver:active {
    color: var(--light-silver);
}
.button-lilac:active {
    color: var(--lilac);
}
.button-mid-gray:active {
    color: var(--mid-gray);
}
.button-moon-gray:active {
    color: var(--moon-gray);
}
.button-near-black:active {
    color: var(--near-black);
}
.button-near-white:active {
    color: var(--near-white);
}
.button-orange:active {
    color: var(--orange);
}
.button-pink:active {
    color: var(--pink);
}
.button-purple:active {
    color: var(--purple);
}
.button-red:active {
    color: var(--red);
}
.button-salmon:active {
    color: var(--salmon);
}
.button-silver:active {
    color: var(--silver);
}
.button-teal:active {
    color: var(--teal);
}
.button-transparent:active {
    color: var(--transparent);
}
.button-washed-gray:active {
    color: var(--washed-gray);
}
.button-white-0125:active {
    color: var(--white-0125);
}
.button-white-025:active {
    color: var(--white-025);
}
.button-white-05:active {
    color: var(--white-05);
}
.button-white-10:active {
    color: var(--white-10);
}
.button-white-20:active {
    color: var(--white-20);
}
.button-white-30:active {
    color: var(--white-30);
}
.button-white-40:active {
    color: var(--white-40);
}
.button-white-50:active {
    color: var(--white-50);
}
.button-white-60:active {
    color: var(--white-60);
}
.button-white-70:active {
    color: var(--white-70);
}
.button-white-80:active {
    color: var(--white-80);
}
.button-white-90:active {
    color: var(--white-90);
}
.button-white:active {
    color: var(--white);
}
.button-yellow:active {
    color: var(--yellow);
}
