:root {
    --transparent: transparent;
    --black-0125: #00000003;
    --black-025: #00000006;
    --black-05: #0000000d;
    --black-10: #0000001a;
    --black-20: #00000033;
    --black-30: #0000004d;
    --black-40: #00000066;
    --black-50: #00000080;
    --black-60: #00000099;
    --black-70: #000000b3;
    --black-80: #000000cc;
    --black-90: #000000e6;
    --near-black: #181818;
    --black: #000;
    --light-blue: #6cb2eb;
    --dark-blue: #1c3d5a;
    --blue: #2779bd;
    --dark-deep-blue: #12283a;
    --indigo: #5661b3;
    --dark-indigo: #2f365f;
    --light-indigo: #7886d7;
    --light-green: #51d88a;
    --dark-green: #1a4731;
    --green: #1f9d55;
    --dark-purple: #3e2866;
    --purple: #54368a;
    --light-purple: #8873ad;
    --yellow: #f2d024;
    --dark-yellow: #684f1d;
    --light-yellow: #fff382;
    --orange: #de751f;
    --dark-orange: #613b1f;
    --light-orange: #faad63;
    --light-gray: #eee;
    --light-silver: #aaa;
    --silver: #d4d4d4;
    --mid-gray: #555;
    --moon-gray: #ccc;
    --dark-gray: #333;
    --washed-gray: #393e46;
    --dark-red: #b42823;
    --red: #e23933;
    --light-red: #e47f7b;
    --light-pink: #fa7ea8;
    --pink: #eb5286;
    --dark-pink: #6f213f;
    --brown: #785447;
    --near-white: #f4f4f4;
    --white-0125: #ffffff03;
    --white-025: #ffffff06;
    --white-05: #ffffff0d;
    --white-10: #ffffff1a;
    --white-20: #ffffff33;
    --white-30: #ffffff4d;
    --white-40: #ffffff66;
    --white-50: #ffffff80;
    --white-60: #ffffff99;
    --white-70: #ffffffb3;
    --white-80: #ffffffcc;
    --white-90: #ffffffe6;
    --white: #fff;
}
