/*

   FORMS
   
*/

.input-reset {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    outline-style: none;
    box-shadow: none;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}