/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/
.amber{color: var(--amber);}
.aqua{color: var(--aqua);}
.black-0125{color: var(--black-0125);}
.black-025{color: var(--black-025);}
.black-05{color: var(--black-05);}
.black-10{color: var(--black-10);}
.black-20{color: var(--black-20);}
.black-30{color: var(--black-30);}
.black-40{color: var(--black-40);}
.black-50{color: var(--black-50);}
.black-60{color: var(--black-60);}
.black-70{color: var(--black-70);}
.black-80{color: var(--black-80);}
.black-90{color: var(--black-90);}
.black{color: var(--black);}
.blue{color: var(--blue);}
.brown{color: var(--brown);}
.dark-blue{color: var(--dark-blue);}
.dark-deep-blue{color: var(--dark-deep-blue);}
.dark-gray{color: var(--dark-gray);}
.dark-green{color: var(--dark-green);}
.dark-orange{color: var(--dark-orange);}
.dark-purple{color: var(--dark-purple);}
.dark-red{color: var(--dark-red);}
.gray{color: var(--gray);}
.green{color: var(--green);}
.indigo{color: var(--indigo);}
.light-blue{color: var(--light-blue);}
.light-gray{color: var(--light-gray);}
.light-lilac{color: var(--light-lilac);}
.light-orange{color: var(--light-orange);}
.light-pink{color: var(--light-pink);}
.light-red{color: var(--light-red);}
.light-silver{color: var(--light-silver);}
.lilac{color: var(--lilac);}
.mid-gray{color: var(--mid-gray);}
.moon-gray{color: var(--moon-gray);}
.near-black{color: var(--near-black);}
.near-white{color: var(--near-white);}
.orange{color: var(--orange);}
.pink{color: var(--pink);}
.purple{color: var(--purple);}
.red{color: var(--red);}
.salmon{color: var(--salmon);}
.silver{color: var(--silver);}
.teal{color: var(--teal);}
.transparent{color: var(--transparent);}
.washed-gray{color: var(--washed-gray);}
.white-0125{color: var(--white-0125);}
.white-025{color: var(--white-025);}
.white-05{color: var(--white-05);}
.white-10{color: var(--white-10);}
.white-20{color: var(--white-20);}
.white-30{color: var(--white-30);}
.white-40{color: var(--white-40);}
.white-50{color: var(--white-50);}
.white-60{color: var(--white-60);}
.white-70{color: var(--white-70);}
.white-80{color: var(--white-80);}
.white-90{color: var(--white-90);}
.white{color: var(--white);}
.yellow{color: var(--yellow);}

.bg-amber{background-color: var(--amber);}
.bg-aqua{background-color: var(--aqua);}
.bg-black-0125{background-color: var(--black-0125);}
.bg-black-025{background-color: var(--black-025);}
.bg-black-05{background-color: var(--black-05);}
.bg-black-10{background-color: var(--black-10);}
.bg-black-20{background-color: var(--black-20);}
.bg-black-30{background-color: var(--black-30);}
.bg-black-40{background-color: var(--black-40);}
.bg-black-50{background-color: var(--black-50);}
.bg-black-60{background-color: var(--black-60);}
.bg-black-70{background-color: var(--black-70);}
.bg-black-80{background-color: var(--black-80);}
.bg-black-90{background-color: var(--black-90);}
.bg-black{background-color: var(--black);}
.bg-blue{background-color: var(--blue);}
.bg-brown{background-color: var(--brown);}
.bg-dark-blue{background-color: var(--dark-blue);}
.bg-dark-deep-blue{background-color: var(--dark-deep-blue);}
.bg-dark-gray{background-color: var(--dark-gray);}
.bg-dark-green{background-color: var(--dark-green);}
.bg-dark-orange{background-color: var(--dark-orange);}
.bg-dark-purple{background-color: var(--dark-purple);}
.bg-dark-red{background-color: var(--dark-red);}
.bg-gray{background-color: var(--gray);}
.bg-green{background-color: var(--green);}
.bg-indigo{background-color: var(--indigo);}
.bg-light-blue{background-color: var(--light-blue);}
.bg-light-gray{background-color: var(--light-gray);}
.bg-light-lilac{background-color: var(--light-lilac);}
.bg-light-orange{background-color: var(--light-orange);}
.bg-light-pink{background-color: var(--light-pink);}
.bg-light-red{background-color: var(--light-red);}
.bg-light-silver{background-color: var(--light-silver);}
.bg-lilac{background-color: var(--lilac);}
.bg-mid-gray{background-color: var(--mid-gray);}
.bg-moon-gray{background-color: var(--moon-gray);}
.bg-near-black{background-color: var(--near-black);}
.bg-near-white{background-color: var(--near-white);}
.bg-orange{background-color: var(--orange);}
.bg-pink{background-color: var(--pink);}
.bg-purple{background-color: var(--purple);}
.bg-red{background-color: var(--red);}
.bg-salmon{background-color: var(--salmon);}
.bg-silver{background-color: var(--silver);}
.bg-teal{background-color: var(--teal);}
.bg-transparent{background-color: var(--transparent);}
.bg-washed-gray{background-color: var(--washed-gray);}
.bg-white-0125{background-color: var(--white-0125);}
.bg-white-025{background-color: var(--white-025);}
.bg-white-05{background-color: var(--white-05);}
.bg-white-10{background-color: var(--white-10);}
.bg-white-20{background-color: var(--white-20);}
.bg-white-30{background-color: var(--white-30);}
.bg-white-40{background-color: var(--white-40);}
.bg-white-50{background-color: var(--white-50);}
.bg-white-60{background-color: var(--white-60);}
.bg-white-70{background-color: var(--white-70);}
.bg-white-80{background-color: var(--white-80);}
.bg-white-90{background-color: var(--white-90);}
.bg-white{background-color: var(--white);}
.bg-yellow{background-color: var(--yellow);}
