input:checked + .slider-amber{background-color: var(--amber);}
input:checked + .slider-aqua{background-color: var(--aqua);}
input:checked + .slider-black-0125{background-color: var(--black-0125);}
input:checked + .slider-black-025{background-color: var(--black-025);}
input:checked + .slider-black-05{background-color: var(--black-05);}
input:checked + .slider-black-10{background-color: var(--black-10);}
input:checked + .slider-black-20{background-color: var(--black-20);}
input:checked + .slider-black-30{background-color: var(--black-30);}
input:checked + .slider-black-40{background-color: var(--black-40);}
input:checked + .slider-black-50{background-color: var(--black-50);}
input:checked + .slider-black-60{background-color: var(--black-60);}
input:checked + .slider-black-70{background-color: var(--black-70);}
input:checked + .slider-black-80{background-color: var(--black-80);}
input:checked + .slider-black-90{background-color: var(--black-90);}
input:checked + .slider-black{background-color: var(--black);}
input:checked + .slider-blue{background-color: var(--blue);}
input:checked + .slider-brown{background-color: var(--brown);}
input:checked + .slider-dark-blue{background-color: var(--dark-blue);}
input:checked + .slider-dark-deep-blue{background-color: var(--dark-deep-blue);}
input:checked + .slider-dark-gray{background-color: var(--dark-gray);}
input:checked + .slider-dark-green{background-color: var(--dark-green);}
input:checked + .slider-dark-orange{background-color: var(--dark-orange);}
input:checked + .slider-dark-purple{background-color: var(--dark-purple);}
input:checked + .slider-dark-red{background-color: var(--dark-red);}
input:checked + .slider-gray{background-color: var(--gray);}
input:checked + .slider-green{background-color: var(--green);}
input:checked + .slider-indigo{background-color: var(--indigo);}
input:checked + .slider-light-blue{background-color: var(--light-blue);}
input:checked + .slider-light-gray{background-color: var(--light-gray);}
input:checked + .slider-light-lilac{background-color: var(--light-lilac);}
input:checked + .slider-light-orange{background-color: var(--light-orange);}
input:checked + .slider-light-pink{background-color: var(--light-pink);}
input:checked + .slider-light-red{background-color: var(--light-red);}
input:checked + .slider-light-silver{background-color: var(--light-silver);}
input:checked + .slider-lilac{background-color: var(--lilac);}
input:checked + .slider-mid-gray{background-color: var(--mid-gray);}
input:checked + .slider-moon-gray{background-color: var(--moon-gray);}
input:checked + .slider-near-black{background-color: var(--near-black);}
input:checked + .slider-near-white{background-color: var(--near-white);}
input:checked + .slider-orange{background-color: var(--orange);}
input:checked + .slider-pink{background-color: var(--pink);}
input:checked + .slider-purple{background-color: var(--purple);}
input:checked + .slider-red{background-color: var(--red);}
input:checked + .slider-salmon{background-color: var(--salmon);}
input:checked + .slider-silver{background-color: var(--silver);}
input:checked + .slider-teal{background-color: var(--teal);}
input:checked + .slider-transparent{background-color: var(--transparent);}
input:checked + .slider-washed-gray{background-color: var(--washed-gray);}
input:checked + .slider-white-0125{background-color: var(--white-0125);}
input:checked + .slider-white-025{background-color: var(--white-025);}
input:checked + .slider-white-05{background-color: var(--white-05);}
input:checked + .slider-white-10{background-color: var(--white-10);}
input:checked + .slider-white-20{background-color: var(--white-20);}
input:checked + .slider-white-30{background-color: var(--white-30);}
input:checked + .slider-white-40{background-color: var(--white-40);}
input:checked + .slider-white-50{background-color: var(--white-50);}
input:checked + .slider-white-60{background-color: var(--white-60);}
input:checked + .slider-white-70{background-color: var(--white-70);}
input:checked + .slider-white-80{background-color: var(--white-80);}
input:checked + .slider-white-90{background-color: var(--white-90);}
input:checked + .slider-white{background-color: var(--white);}
input:checked + .slider-yellow{background-color: var(--yellow);}

