.transparent { color: var(--transparent); }
.black-0125 { color: var(--black-0125); }
.black-025 { color: var(--black-025); }
.black-05 { color: var(--black-05); }
.black-10 { color: var(--black-10); }
.black-20 { color: var(--black-20); }
.black-30 { color: var(--black-30); }
.black-40 { color: var(--black-40); }
.black-50 { color: var(--black-50); }
.black-60 { color: var(--black-60); }
.black-70 { color: var(--black-70); }
.black-80 { color: var(--black-80); }
.black-90 { color: var(--black-90); }
.near-black { color: var(--near-black); }
.black { color: var(--black); }
.light-blue { color: var(--light-blue); }
.dark-blue { color: var(--dark-blue); }
.blue { color: var(--blue); }
.dark-deep-blue { color: var(--dark-deep-blue); }
.indigo { color: var(--indigo); }
.dark-indigo { color: var(--dark-indigo); }
.light-indigo { color: var(--light-indigo); }
.light-green { color: var(--light-green); }
.dark-green { color: var(--dark-green); }
.green { color: var(--green); }
.dark-purple { color: var(--dark-purple); }
.purple { color: var(--purple); }
.light-purple { color: var(--light-purple); }
.yellow { color: var(--yellow); }
.dark-yellow { color: var(--dark-yellow); }
.light-yellow { color: var(--light-yellow); }
.orange { color: var(--orange); }
.dark-orange { color: var(--dark-orange); }
.light-orange { color: var(--light-orange); }
.light-gray { color: var(--light-gray); }
.light-silver { color: var(--light-silver); }
.silver { color: var(--silver); }
.mid-gray { color: var(--mid-gray); }
.moon-gray { color: var(--moon-gray); }
.dark-gray { color: var(--dark-gray); }
.washed-gray { color: var(--washed-gray); }
.dark-red { color: var(--dark-red); }
.red { color: var(--red); }
.light-red { color: var(--light-red); }
.light-pink { color: var(--light-pink); }
.pink { color: var(--pink); }
.dark-pink { color: var(--dark-pink); }
.brown { color: var(--brown); }
.near-white { color: var(--near-white); }
.white-0125 { color: var(--white-0125); }
.white-025 { color: var(--white-025); }
.white-05 { color: var(--white-05); }
.white-10 { color: var(--white-10); }
.white-20 { color: var(--white-20); }
.white-30 { color: var(--white-30); }
.white-40 { color: var(--white-40); }
.white-50 { color: var(--white-50); }
.white-60 { color: var(--white-60); }
.white-70 { color: var(--white-70); }
.white-80 { color: var(--white-80); }
.white-90 { color: var(--white-90); }
.white { color: var(--white); }
.hover-transparent:hover { color: var(--transparent); }
.hover-black-0125:hover { color: var(--black-0125); }
.hover-black-025:hover { color: var(--black-025); }
.hover-black-05:hover { color: var(--black-05); }
.hover-black-10:hover { color: var(--black-10); }
.hover-black-20:hover { color: var(--black-20); }
.hover-black-30:hover { color: var(--black-30); }
.hover-black-40:hover { color: var(--black-40); }
.hover-black-50:hover { color: var(--black-50); }
.hover-black-60:hover { color: var(--black-60); }
.hover-black-70:hover { color: var(--black-70); }
.hover-black-80:hover { color: var(--black-80); }
.hover-black-90:hover { color: var(--black-90); }
.hover-near-black:hover { color: var(--near-black); }
.hover-black:hover { color: var(--black); }
.hover-light-blue:hover { color: var(--light-blue); }
.hover-dark-blue:hover { color: var(--dark-blue); }
.hover-blue:hover { color: var(--blue); }
.hover-dark-deep-blue:hover { color: var(--dark-deep-blue); }
.hover-indigo:hover { color: var(--indigo); }
.hover-dark-indigo:hover { color: var(--dark-indigo); }
.hover-light-indigo:hover { color: var(--light-indigo); }
.hover-light-green:hover { color: var(--light-green); }
.hover-dark-green:hover { color: var(--dark-green); }
.hover-green:hover { color: var(--green); }
.hover-dark-purple:hover { color: var(--dark-purple); }
.hover-purple:hover { color: var(--purple); }
.hover-light-purple:hover { color: var(--light-purple); }
.hover-yellow:hover { color: var(--yellow); }
.hover-dark-yellow:hover { color: var(--dark-yellow); }
.hover-light-yellow:hover { color: var(--light-yellow); }
.hover-orange:hover { color: var(--orange); }
.hover-dark-orange:hover { color: var(--dark-orange); }
.hover-light-orange:hover { color: var(--light-orange); }
.hover-light-gray:hover { color: var(--light-gray); }
.hover-light-silver:hover { color: var(--light-silver); }
.hover-silver:hover { color: var(--silver); }
.hover-mid-gray:hover { color: var(--mid-gray); }
.hover-moon-gray:hover { color: var(--moon-gray); }
.hover-dark-gray:hover { color: var(--dark-gray); }
.hover-washed-gray:hover { color: var(--washed-gray); }
.hover-dark-red:hover { color: var(--dark-red); }
.hover-red:hover { color: var(--red); }
.hover-light-red:hover { color: var(--light-red); }
.hover-light-pink:hover { color: var(--light-pink); }
.hover-pink:hover { color: var(--pink); }
.hover-dark-pink:hover { color: var(--dark-pink); }
.hover-brown:hover { color: var(--brown); }
.hover-near-white:hover { color: var(--near-white); }
.hover-white-0125:hover { color: var(--white-0125); }
.hover-white-025:hover { color: var(--white-025); }
.hover-white-05:hover { color: var(--white-05); }
.hover-white-10:hover { color: var(--white-10); }
.hover-white-20:hover { color: var(--white-20); }
.hover-white-30:hover { color: var(--white-30); }
.hover-white-40:hover { color: var(--white-40); }
.hover-white-50:hover { color: var(--white-50); }
.hover-white-60:hover { color: var(--white-60); }
.hover-white-70:hover { color: var(--white-70); }
.hover-white-80:hover { color: var(--white-80); }
.hover-white-90:hover { color: var(--white-90); }
.hover-white:hover { color: var(--white); }
.active-transparent:active { color: var(--transparent); }
.active-black-0125:active { color: var(--black-0125); }
.active-black-025:active { color: var(--black-025); }
.active-black-05:active { color: var(--black-05); }
.active-black-10:active { color: var(--black-10); }
.active-black-20:active { color: var(--black-20); }
.active-black-30:active { color: var(--black-30); }
.active-black-40:active { color: var(--black-40); }
.active-black-50:active { color: var(--black-50); }
.active-black-60:active { color: var(--black-60); }
.active-black-70:active { color: var(--black-70); }
.active-black-80:active { color: var(--black-80); }
.active-black-90:active { color: var(--black-90); }
.active-near-black:active { color: var(--near-black); }
.active-black:active { color: var(--black); }
.active-light-blue:active { color: var(--light-blue); }
.active-dark-blue:active { color: var(--dark-blue); }
.active-blue:active { color: var(--blue); }
.active-dark-deep-blue:active { color: var(--dark-deep-blue); }
.active-indigo:active { color: var(--indigo); }
.active-dark-indigo:active { color: var(--dark-indigo); }
.active-light-indigo:active { color: var(--light-indigo); }
.active-light-green:active { color: var(--light-green); }
.active-dark-green:active { color: var(--dark-green); }
.active-green:active { color: var(--green); }
.active-dark-purple:active { color: var(--dark-purple); }
.active-purple:active { color: var(--purple); }
.active-light-purple:active { color: var(--light-purple); }
.active-yellow:active { color: var(--yellow); }
.active-dark-yellow:active { color: var(--dark-yellow); }
.active-light-yellow:active { color: var(--light-yellow); }
.active-orange:active { color: var(--orange); }
.active-dark-orange:active { color: var(--dark-orange); }
.active-light-orange:active { color: var(--light-orange); }
.active-light-gray:active { color: var(--light-gray); }
.active-light-silver:active { color: var(--light-silver); }
.active-silver:active { color: var(--silver); }
.active-mid-gray:active { color: var(--mid-gray); }
.active-moon-gray:active { color: var(--moon-gray); }
.active-dark-gray:active { color: var(--dark-gray); }
.active-washed-gray:active { color: var(--washed-gray); }
.active-dark-red:active { color: var(--dark-red); }
.active-red:active { color: var(--red); }
.active-light-red:active { color: var(--light-red); }
.active-light-pink:active { color: var(--light-pink); }
.active-pink:active { color: var(--pink); }
.active-dark-pink:active { color: var(--dark-pink); }
.active-brown:active { color: var(--brown); }
.active-near-white:active { color: var(--near-white); }
.active-white-0125:active { color: var(--white-0125); }
.active-white-025:active { color: var(--white-025); }
.active-white-05:active { color: var(--white-05); }
.active-white-10:active { color: var(--white-10); }
.active-white-20:active { color: var(--white-20); }
.active-white-30:active { color: var(--white-30); }
.active-white-40:active { color: var(--white-40); }
.active-white-50:active { color: var(--white-50); }
.active-white-60:active { color: var(--white-60); }
.active-white-70:active { color: var(--white-70); }
.active-white-80:active { color: var(--white-80); }
.active-white-90:active { color: var(--white-90); }
.active-white:active { color: var(--white); }
